# These pre-commit hooks don't ensure a passing CI run. Instead they act as
# a quick "smoke check" running static code analysis on the files changed.
# The hooks do NOT:
#     - Run tests or other time-consuming tasks.
#     - Check the whole codebase, just modified files.
#     - Let mypy access dependencies' typehints.
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # frozen: v3.2.0
  hooks:
  - id: check-yaml
  - id: check-toml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: eae6397e4c259ed3d057511f6dd5330b92867e62  # frozen: v1.6.0
  hooks:
  - id: python-use-type-annotations
  - id: python-check-blanket-noqa
- repo: https://github.com/timothycrosley/isort
  rev: 2e02c195afdb499be9068ca0d08c9d7d45912d4d  # frozen: 5.5.4
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: e66be67b9b6811913470f70c28b4d50f94d05b22  # frozen: 20.8b1
  hooks:
  - id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: d6e31aeb109d8ff85282c3fd632c89f8ea7b0dee  # frozen: v0.782
  hooks:
  - id: mypy
    args:
    # Suppress errors resulting from no access to dependencies
    - --ignore-missing-imports
    - --no-warn-unused-ignores
    # Allow multiple scripts (no .py postfix in name) to be checked in a single mypy invocation
    - --scripts-are-modules
- repo: https://gitlab.com/pycqa/flake8
  rev: bb6a530e28acab8d3551043b3e8709db8bcbac6b  # frozen: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
- repo: https://github.com/myint/docformatter
  rev: de0bf8fa254d25a01383fecdb6335bea01daeae3  # frozen: v1.3.1
  hooks:
  - id: docformatter
- repo: https://github.com/executablebooks/mdformat
  rev: 01c43e0d023cff146d1fbb8eddb5d0d62b8787d3  # frozen: 0.3.3
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-black
    - mdformat-toc
