# Tests and CI
isort
pre-commit
pytest
pytest-cov
pytest-mock
black
flake8
flake8-bugbear
flake8-builtins
mypy
docformatter
codecov

# Requirements of the package
git+https://github.com/warner/python-ecdsa
secp256k1
bech32
typing-extensions
